@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1; 
  background-color: black;
}


.poppins {
  font-family: 'Poppins', sans-serif;
  
}
body {
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Poppins', sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
}

.navHeader {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: left;
  padding: 0px;

}

@media (max-width: 1200px) {
  .kuvat {
    display: none;
} 
}

.väri {
  background-color: rgba(0, 0, 0, 0.9);
}

.navHeader a{
  color: #08c002;  /* This combines width, style, and color */
  font-size: 25px;
  background-color: rgba(173, 216, 230, 0);
}



@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.glow-blue {
  color: #ffffff; /* Text color */
  text-shadow: 
    0 0 10px rgba(60, 255, 0, 0.493),  /* Blue glow */
    0 0 20px rgba(60, 255, 0, 0.4),  /* Larger blue glow */
    0 0 20px rgba(60, 255, 0, 0.2);  /* Largest blue glow */
}

.tää {
  padding: 10px;
  padding-left: 25px;
  border: 3px solid #0000;
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) padding-box, linear-gradient(
        var(--angle),
        #eef12300,
        rgba(43, 247, 2, 0.548)
      ) border-box;
  animation: 20s rotate linear infinite;
}


.tää3 {
 
 
  border-top: 3px solid #0000;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) padding-box, linear-gradient(
        var(--angle),
        #eef12300,
        rgba(223, 247, 2, 0.548)
      ) border-box;
  animation: 15s rotate linear infinite;
}



.tää2 {
  border: 5px solid #0000;
  border-radius: 12px;
  background: linear-gradient(lightblue, lightblue) padding-box, linear-gradient(
        var(--angle),
        #f12323b4,
        rgb(196, 179, 30)
      ) border-box;
  animation: 5s rotate linear infinite;
}

.tausta h1 {
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 0;
  color: rgb(41, 255, 13);
  margin-left: 105px;
  text-shadow: 
  0 0 10px rgba(60, 255, 0, 0.493),  /* Blue glow */
  0 0 20px rgba(60, 255, 0, 0.2);  /* Largest blue glow */

}

.otsikkoja {
  margin-top: -100px;
}

.naviikoni {
  color:rgb(255, 255, 255) !important ;
  position: fixed;
  z-index: 9999;
  margin-top: 10px;
  background-color: black;
}

.projectsh3 {
  text-shadow:  5px 5px 0px #46b59b, 
  10px 10px 0px #017e7f;
}

.projectsh4 {
  text-shadow:  5px 5px 0px #46b59b;
}

.otsikko {
  font-size: 45px;
  margin-bottom: 30px;
}

@media (max-width: 1030px) {
  .kuvat2 {
    display: none;
} 


.tausta h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 0;
  color: white;
  margin-left: 15px;
  text-shadow: 3px 3px 0px #eb452b, 
                7px 7px 0px #46b59b; 
              /*   25px 25px 0px #052939, 
                30px 30px 0px #c11a2b, 
                35px 35px 0px #c11a2b; */

}



.projectsh3 {
  font-size: 60px;
  text-shadow:  5px 5px 0px #46b59b, 
  10px 10px 0px #017e7f;
}
.projectsh2 {
  font-size: 50px;
  
}

.tää {
  padding: 0px;
  padding-left: 0px;
  border: 0px solid #0000;
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) padding-box, linear-gradient(
        var(--angle),
        #eef12300,
        rgba(43, 247, 2, 0)
      ) border-box;
  animation: 20s rotate linear infinite;
}
.otsikko {
  font-size: 40px;
  margin-bottom: 30px;
}

.min500
{
  min-height: 500px;
}

}